<div class="container">
  <div class="left-panel">
    <h2>Media Search</h2>
    <div id="searchArea" *ngIf="accessToken; else showLogin">
      <input type="text"
       id="searchInput"
       placeholder="Search for images..."
       [(ngModel)]="currentQuery"
       (keyup.enter)="onEnterSearch()" />

      <button id="searchBtn" (click)="performSearch()" [disabled]="isLoading || loadingMore">Search</button>
      <div *ngIf="isLoading && !loadingMore" class="loader"></div> 

      <div id="imageGrid" class="grid" (scroll)="onScroll()"> 
        <div *ngFor="let image of images" class="tile">
          <img
            [src]="image.urls.small"
            [alt]="image.alt_description || 'Unsplash image'"
            (click)="drawImageOnCanvas(image.urls.small)"
          />
        </div>

        <div *ngIf="loadingMore" class="loader small-loader"></div> 
      </div>

      <p *ngIf="!isLoading && !loadingMore && images.length === 0 && currentQuery">
      No results found for "{{currentQuery}}".
      </p>

      <p *ngIf="!isLoading && !loadingMore && currentPage >= totalPages && images.length > 0 && currentQuery">
      End of results for "{{currentQuery}}".
      </p>


    </div>

    <ng-template #showLogin>
        <button id="loginBtn" (click)="loginWithUnsplash()" [disabled]="loginDisabled">Login with Unsplash</button>
    </ng-template>

  </div>

  <div class="right-panel">
    <canvas id="drawingCanvas" width="800" height="800"></canvas>
  </div>
</div>